* {
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #000000;
  color: white;
  height: 65px;
}

header li {
  list-style: none;
  float: left;
  padding: 0 15px;
}

.btn-dark {
  background-color: #000000;
  border: 0;
}

.btn-dark {
  background-color: #000000;
  border: 0;
}

.btn-dark:hover {
  background-color: #000000;
}

.btn-primary {
  background-color: #2a48fa;
  border-radius: 25px;
  width: 140px;
}

.header-logo {
  float: left;
  line-height: 65px;
  width: 160px;
}

.header-logo img {
  width: 160px;
}

.header-left {
  float: left;
  font-size: 20px;
  line-height: 65px;
  padding: 0 20px;
}

.header-right {
  line-height: 65px;
  float: right;
}

.msg-wrapper {
  background-color: #000000;
  padding: 100px 0px;
}

.msg-wrapper h1 {
  font-size: 110px;
  color: white;
}

.msg-wrapper h2 {
  font-size: 30px;
  color: white;
}
.msg-image {
  text-align: center;
}
.msg-image img {
  width: 100%;
  margin: 0 auto;
}

.mix-stage-wrapper {
  background-color: #000000;
  padding: 60px 0px;
}

.card-odd {
  height: 192px;
  background-color: #0528f2;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
  flex: auto;
}

.card-even {
  height: 192px;
  background-color: #3345a6;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
  flex: auto;
}

.card-small-logo img {
  width: 24px;
}

.apply-btn {
  border-radius: 20px;
  width: 100%;
  color: #0528f2;
}

.collab-wrapper {
  background-image: url(./img/collab\ bg.png);
  background-size: cover;
}

.collab-wrapper h1 {
  color: white;
  font-size: 40px;
  padding: 60px 0px;
}

.contact-btn {
  width: 180px;
  color: white;
  margin: 0px 5px;
}
.tele-btn {
  width: 240px;
  background-color: white;
  color: #0528f2;
  margin: 0px 5px;
}
.tele-btn img {
  width: 20px;
}

.news-wrapper {
  /* background-size: cover; */
}

.bg-img {
  background-image: url(./img/brand-bg.png);
  background-size: cover;
}
.mix-news {
  background-color: #0d0d0d;
  padding-left: 100;
}
.mix-news img {
  padding: 20px;
  width: 100%;
}
.mix-news p {
  font-size: 26px;
}

.load-btn {
  margin-bottom: 15px;
}

.brand-div {
  color: white;
  /* margin: 0 auto; */
}

.brand-div h1 {
  font-size: 70px;
}
.brand-div p {
  font-size: 20px;
}

.deck-btn {
  color: white;
}

.events-div {
  color: white;
  background-color: #0d0d0d;
}
.events-div h1 {
  font-size: 30px;
}
.events-div h2 {
  font-size: 15px;
  font-weight: 100;
}

.event-btn {
  border-radius: 100px;
  width: 160px;
}
.impression-div {
  color: white;
  background-color: #011826;
}

.impression-btn {
  border-radius: 100px;
  width: 60%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade:not(.show) {
  opacity: 1;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.mobile-ver {
  display: none;
}

@media (max-width: 670px) {
  .desktop-ver {
    display: none;
  }
  .mobile-ver {
    display: block;
  }
  .mmsg-wrapper {
    background-color: #000000;
  }
  .mmsg-wrapper .row img {
    width: 100%;
  }
  .mmsg-wrapper .row h1 {
    font-size: 30px;
  }
  .mmsg-wrapper .row h2 {
    font-size: 10px;
  }
  .mcollab-wrapper {
    background-image: url(./img/collab\ bg.png);
    background-size: cover;
  }
  .contact-btn {
    width: 100%;
    color: white;
    font-size: 15px;
  }
  .tele-btn {
    width: 100%;
    background-color: white;
    color: #0528f2;
    font-size: 15px;
  }
  .tele-btn img {
    width: 20px;
  }
  .mcollab-wrapper h1 {
    font-size: 15px;
  }
  .news-wrapper h1 {
    font-size: 30px;
  }
  .news-wrapper p {
    font-size: 15px;
  }
  .mix-news {
    background-color: #0d0d0d;
  }
  .mix-news img {
    padding: 20px;
    width: 100%;
  }
  .brand-div {
    color: white;
    /* margin: 0 auto; */
  }

  .brand-div h1 {
    font-size: 35px;
  }
  .brand-div p {
    font-size: 15px;
  }
  .deck-btn {
    width: 100%;
  }
  .gigs {
    background-color: #0f0e0e;
  }
  .gigs p {
    margin: 0;
  }
  .gigs-btn {
    text-align: center;
    border-radius: 10px;
    background-color: #0528f2;
    margin: 1rem 0rem;
  }
  .mix-stage {
    background-color: #011826;
    color: white;
  }

  .mix-stage .col-10 {
    margin-top: 2.5rem;
  }
  .carousel {
    position: relative;
    margin: 2.5rem 0;
  }

  .carousel-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .carousel-slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin: 0; /* remove any margin */
    padding: 0; /* remove any padding */
    display: none;
    text-align: center;
  }
  .carousel-slide.active {
    display: block;
    background-color: #011826;
    align-items: center;
  }

  .carousel-slide img {
    width: 60%;
    height: auto;
  }

  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  .carousel-prev {
    left: 25px;
  }

  .carousel-next {
    right: 25px;
  }
  .slider-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    color: black;
  }

  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slider-slide {
    scroll-snap-align: center;
    flex: 0 0 100%;
    max-width: 400px;
    margin: 0 10px;
    text-align: center;
    color: black;
  }

  .slider-slide .card {
    border: 1px solid #ccc;
    padding: 20px;
  }

  .slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .slider-prev,
  .slider-next {
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .slider-prev {
    margin-right: 20px;
  }

  .slider-next {
    margin-left: 20px;
  }
}
